# What is group by?

The purpose of this is to demonstrate what the "group by" clause does in SQL. 

SQLite is like a baby SQL database; free, lightweight, and the database exists in a single file. Good for testing things out. I'm going to create a table called "people" with random rows, each representing an imaginary person.

In [1]:
import sqlite3
import random

In [2]:
import sqlite3
import random
conn = sqlite3.connect('test.sqlite3')

In [3]:

conn.execute("drop table people")

In [3]:

conn.execute("create table people  (id integer PRIMARY KEY, firstname varchar[100], lastname varchar[100], weight integer, age integer)")

for i in range(1000):
    random_firstname =  ''.join(random.choice("abcdefghijklmnopqrstuvwxyz") for i in range(20))
    random_lastname =  ''.join(random.choice("abcdefghijklmnopqrstuvwxyz") for i in range(20))
    random_age = random.randint(5, 50)
    random_weight = random.randint(random_age*4, random_age*9)
    conn.execute("insert into people values (?,?,?,?,?)", (i, random_firstname, random_lastname, random_weight, random_age))
       

conn.commit()

OperationalError: table people already exists

In [4]:
c = conn.cursor()
for row in c.execute("select * from people").fetchmany(10):
    print(row)

(0, 'jhxwwukzikvpaqrbgyjc', 'bqmizvkefxkdtdjukeze', 334, 39)
(1, 'opzaxzzveblxlrdvqjsk', 'vpugcimnwjnhqxgfejcc', 62, 15)
(2, 'mvxmzkcaljoojhriyaed', 'rnegzelhrsrppntbrzyg', 320, 45)
(3, 'tyklamzfcekjnwmtmnvv', 'ezatjnplnbbjxulbldgh', 83, 10)
(4, 'avtbmvnpqqydvbqdqacy', 'thxqfqizklyoxqkyhvod', 178, 29)
(5, 'lrcvbjyvnccinlmdwnpd', 'jfxyvnbsledzgqvgdbwg', 68, 8)
(6, 'onqkdenfubnjetmbehgr', 'rxuwcizmhaplbemovnjq', 107, 20)
(7, 'soofxqdynubmehznqdze', 'gideibaaxhsgmzraclzq', 54, 8)
(8, 'wiatospnqdrhcazlzqjl', 'vqlhsxnxddtmcnzseqdu', 153, 27)
(9, 'bfimduuqnxawwrpqpxjw', 'slfsjzdbbsqqajpxunhf', 124, 26)

Let's first talk about "order by".

In [6]:
c = conn.cursor()
for row in c.execute("select * from people order by age").fetchmany(20):
    print(row)

(79, 'ixjjxeocdyhijphbigyt', 'mhhduajcqfjziivoccdb', 36, 5)
(151, 'gfmgdetsbdcyalgmnggw', 'vcgaxbznnjsfhyugrvgh', 21, 5)
(260, 'bzhverbcfdiuewjituml', 'bzxtpzfovwfwfzyhejjt', 27, 5)
(361, 'hydomufoiphiszakafmu', 'thratikfnflftdvycdds', 20, 5)
(381, 'tafchgnkvaoywdjbopik', 'bfoqryplxrfrueopwfev', 38, 5)
(382, 'exknhddlgzrdmgfnpuno', 'mnozaniakbjvdwaprcql', 27, 5)
(445, 'eyjpkqlldwbqahqzgcdh', 'qclktqqitlmoqkxmhhyt', 38, 5)
(454, 'bfuqfgkctqwtoetgqiid', 'bhgskslmptblafyzzuqi', 34, 5)
(455, 'jpqrsecdguqvnordczmf', 'zgyvobnqodsdfagvuxbk', 36, 5)
(547, 'ovvtdiiahlhodrylvfvv', 'yohofyszaicwjszhnkwk', 29, 5)
(589, 'bxaohbthajnkvkzjaeig', 'awethdwqsucpkxmjokgo', 38, 5)
(606, 'dsnkdayicrqqkvtnvxle', 'cfpuikyrrkhrrkyxxpyt', 35, 5)
(649, 'qbbmighacdxwjmkxevei', 'klmatacivbyxrtryihex', 22, 5)
(671, 'xbatrxlvjgftmiuyuvbj', 'knqnexhigfrkqxpdjcvp', 38, 5)
(822, 'pnhcaabofuqvmctstxqg', 'pvnkieoskabhxkxbaeya', 25, 5)
(978, 'dgggwwmxjzeoflymwjie', 'ofibymcmpupgbssocrvz', 25, 5)
(997, 'juctcpykkpdewwnsbhtu', 'ctlpkqihtzzjpdktyeqr', 33, 5)
(218, 'ukcztnpqlvyfzsjzimip', 'qljzgykospysbgxgsywi', 45, 6)
(247, 'xaeewplhmfvorlfaegrv', 'yeupaipiigxyidlqlaah', 39, 6)
(255, 'vsumvrvkxrrkgacpkuji', 'aykxqiignbwsfyakpkqb', 51, 6)

In [7]:
c = conn.cursor()
for row in c.execute("select * from people order by weight").fetchmany(20):
    print(row)

(361, 'hydomufoiphiszakafmu', 'thratikfnflftdvycdds', 20, 5)
(151, 'gfmgdetsbdcyalgmnggw', 'vcgaxbznnjsfhyugrvgh', 21, 5)
(649, 'qbbmighacdxwjmkxevei', 'klmatacivbyxrtryihex', 22, 5)
(793, 'rysfxzvslbyfssqospmw', 'heymflljngdrwwweupbu', 24, 6)
(806, 'ydlovlyvisqrnykalgup', 'gxeoutwzyfppwtawkdua', 25, 6)
(822, 'pnhcaabofuqvmctstxqg', 'pvnkieoskabhxkxbaeya', 25, 5)
(978, 'dgggwwmxjzeoflymwjie', 'ofibymcmpupgbssocrvz', 25, 5)
(295, 'plujjkvwbshsxuhnmshs', 'qkqewxgjthqymdkqjqhh', 26, 6)
(723, 'lmoeefiofpdqgoswqskn', 'yhcwjrfnttsxbjjpbrzj', 26, 6)
(260, 'bzhverbcfdiuewjituml', 'bzxtpzfovwfwfzyhejjt', 27, 5)
(382, 'exknhddlgzrdmgfnpuno', 'mnozaniakbjvdwaprcql', 27, 5)
(613, 'esbfcpscicmakxjztsww', 'checzbudvgvjuamxfqpz', 28, 7)
(155, 'yfylkeesjkkavtlrmeel', 'fjqajnsffqzguuemparg', 29, 7)
(547, 'ovvtdiiahlhodrylvfvv', 'yohofyszaicwjszhnkwk', 29, 5)
(267, 'nnzinivilwsslgvoeujz', 'lcaflukhdtfibfzfvews', 30, 6)
(624, 'hcztueuqiezclwyvains', 'wslhtnhurwjkqayyqtos', 31, 6)
(957, 'jcslfmhjklfgsgbivdtq', 'ixwunhcsblfysswjcqdi', 32, 6)
(129, 'agbgbxbgmvfctidzvqet', 'ecdylfjguhebrcytnxpr', 33, 8)
(219, 'udeulzjenmurvwdfdldb', 'ryeqadhksrzfvkmkfsfk', 33, 7)
(270, 'sphabrcuekkgjlfgtllx', 'csqydblsfhccdxidteex', 33, 6)

order by returns the whole results of the select statement, except that it sorts the results by some column.

Ok let's demonstrate aggregation functions. You can compute the average, or the minimum, or the maximum, of any column. (There are other aggregation functions too that you can look up.)

In [10]:
c = conn.cursor()
c.execute("select avg(weight) from people").fetchall()

[(180.941,)]

In [12]:
c = conn.cursor()
c.execute("select min(weight) from people").fetchall()

[(20,)]

In [13]:
c = conn.cursor()
c.execute("select max(weight) from people").fetchall()

[(444,)]

What if you want to get the average age for a specific age? You can do it like this:

In [14]:
c = conn.cursor()
c.execute("select avg(weight) from people where age = 18").fetchall()

[(112.58333333333333,)]

In [15]:
c = conn.cursor()
c.execute("select avg(weight) from people where age = 50").fetchall()

[(312.9310344827586,)]

But what if you want to get the average weight by age, for all ages at once? This is what "group by" allows you to do.

In [18]:
c = conn.cursor()
for row in c.execute("select age,avg(weight) from people group by age"):
    print(row)

(5, 30.705882352941178)
(6, 39.38461538461539)
(7, 45.294117647058826)
(8, 49.77777777777778)
(9, 60.03846153846154)
(10, 67.44827586206897)
(11, 73.53846153846153)
(12, 76.07407407407408)
(13, 84.42857142857143)
(14, 91.0)
(15, 89.22222222222223)
(16, 99.5)
(17, 112.47368421052632)
(18, 112.58333333333333)
(19, 130.38888888888889)
(20, 120.38095238095238)
(21, 139.36)
(22, 143.58333333333334)
(23, 149.54545454545453)
(24, 169.8125)
(25, 169.27272727272728)
(26, 163.04347826086956)
(27, 187.0)
(28, 193.11764705882354)
(29, 204.0)
(30, 194.0)
(31, 210.30434782608697)
(32, 211.2608695652174)
(33, 220.57142857142858)
(34, 211.1)
(35, 222.73333333333332)
(36, 242.32258064516128)
(37, 235.1818181818182)
(38, 244.8095238095238)
(39, 289.0625)
(40, 227.8)
(41, 270.04761904761904)
(42, 270.9375)
(43, 291.9259259259259)
(44, 289.69565217391306)
(45, 289.45454545454544)
(46, 291.94444444444446)
(47, 316.1818181818182)
(48, 317.0952380952381)
(49, 319.42857142857144)
(50, 312.9310344827586)

Here's a demonstration of partition by:

In [11]:
c = conn.cursor()
for row in c.execute("select *,avg(weight) over (partition by age) from people").fetchmany(30):
    print(row)

(79, 'ixjjxeocdyhijphbigyt', 'mhhduajcqfjziivoccdb', 36, 5, 30.705882352941178)
(151, 'gfmgdetsbdcyalgmnggw', 'vcgaxbznnjsfhyugrvgh', 21, 5, 30.705882352941178)
(260, 'bzhverbcfdiuewjituml', 'bzxtpzfovwfwfzyhejjt', 27, 5, 30.705882352941178)
(361, 'hydomufoiphiszakafmu', 'thratikfnflftdvycdds', 20, 5, 30.705882352941178)
(381, 'tafchgnkvaoywdjbopik', 'bfoqryplxrfrueopwfev', 38, 5, 30.705882352941178)
(382, 'exknhddlgzrdmgfnpuno', 'mnozaniakbjvdwaprcql', 27, 5, 30.705882352941178)
(445, 'eyjpkqlldwbqahqzgcdh', 'qclktqqitlmoqkxmhhyt', 38, 5, 30.705882352941178)
(454, 'bfuqfgkctqwtoetgqiid', 'bhgskslmptblafyzzuqi', 34, 5, 30.705882352941178)
(455, 'jpqrsecdguqvnordczmf', 'zgyvobnqodsdfagvuxbk', 36, 5, 30.705882352941178)
(547, 'ovvtdiiahlhodrylvfvv', 'yohofyszaicwjszhnkwk', 29, 5, 30.705882352941178)
(589, 'bxaohbthajnkvkzjaeig', 'awethdwqsucpkxmjokgo', 38, 5, 30.705882352941178)
(606, 'dsnkdayicrqqkvtnvxle', 'cfpuikyrrkhrrkyxxpyt', 35, 5, 30.705882352941178)
(649, 'qbbmighacdxwjmkxevei', 'klmatacivbyxrtryihex', 22, 5, 30.705882352941178)
(671, 'xbatrxlvjgftmiuyuvbj', 'knqnexhigfrkqxpdjcvp', 38, 5, 30.705882352941178)
(822, 'pnhcaabofuqvmctstxqg', 'pvnkieoskabhxkxbaeya', 25, 5, 30.705882352941178)
(978, 'dgggwwmxjzeoflymwjie', 'ofibymcmpupgbssocrvz', 25, 5, 30.705882352941178)
(997, 'juctcpykkpdewwnsbhtu', 'ctlpkqihtzzjpdktyeqr', 33, 5, 30.705882352941178)
(218, 'ukcztnpqlvyfzsjzimip', 'qljzgykospysbgxgsywi', 45, 6, 39.38461538461539)
(247, 'xaeewplhmfvorlfaegrv', 'yeupaipiigxyidlqlaah', 39, 6, 39.38461538461539)
(255, 'vsumvrvkxrrkgacpkuji', 'aykxqiignbwsfyakpkqb', 51, 6, 39.38461538461539)
(267, 'nnzinivilwsslgvoeujz', 'lcaflukhdtfibfzfvews', 30, 6, 39.38461538461539)
(270, 'sphabrcuekkgjlfgtllx', 'csqydblsfhccdxidteex', 33, 6, 39.38461538461539)
(272, 'ujrizizbjigmvvbxyfum', 'ojrrmzzdehgkpjebejfl', 54, 6, 39.38461538461539)
(274, 'iihcuwztxryezddapyty', 'awglmxjrszttctpqrdyr', 40, 6, 39.38461538461539)
(295, 'plujjkvwbshsxuhnmshs', 'qkqewxgjthqymdkqjqhh', 26, 6, 39.38461538461539)
(306, 'mbenioksoqtvyxpxsmoc', 'xjvizapihbqpdepzyrog', 33, 6, 39.38461538461539)
(333, 'fsppeifwvxoplpdjzrud', 'kksvqfogpcldehmpuzwq', 45, 6, 39.38461538461539)
(336, 'hdkziboiallaocekxvqb', 'pxokprizwdsdjhqgypcw', 50, 6, 39.38461538461539)
(362, 'hgazlogduxdmsximtqin', 'zldnryiugjpzxbrbawhd', 53, 6, 39.38461538461539)
(363, 'ttozpwgvvieuyjqjykwu', 'kdatsscgzugeoyavtfsq', 44, 6, 39.38461538461539)